<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}API Documentation{% endblock %}</title>
    <!-- Vous pouvez ajouter des feuilles de style CSS ou des scripts JavaScript ici -->
</head>
<body style="margin: 0; padding: 0; font-family: Roboto, sans-serif">
    <div style="background: #77A6F7; padding: 50px 0;">
        <h1 style="text-align: center; color: white;">ApiPlatformDoc</h1>
    </div>

    <div style="margin: auto; max-width: 1200px; padding: 50px 0;">
        {% block body %}{% endblock %}
    </div>

    <footer style="padding: 30px 0; background: rgba(0, 0, 0, .05);">
        <div style="max-width: 1200px; margin: auto; text-align: center;">
            <p>Powered by Gianni Giudice</p>
            <a style="color: #77A6F7; margin-top: 10px;" target="_blank" href="https://github.com/vt-gianni/api-platform-doc-bundle">See on Github</a>
        </div>
    </footer>
</body>
</html>
