<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}API Documentation{% endblock %}</title>
    <!-- Vous pouvez ajouter des feuilles de style CSS ou des scripts JavaScript ici -->
</head>
<body>
<div class="container">
    {% block body %}{% endblock %}
</div>
</body>
</html>
