{% extends '@ApiPlatformDoc/base.html.twig' %}

{% block body %}
    <h1>API Documentation</h1>

    {% for resource in apiResources %}
        <h2>{{ resource.shortName }}</h2>

        {# Afficher les détails de la ressource ici... #}
    {% endfor %}
{% endblock %}